.chatspace
  .chatspace__side_bar
    .chatspace__side_bar__side_header
      %p.chatspace__side_bar__side_header__user_name ohashi

      .chatspace__side_bar__side_header__awesomebox
        %i.fa.fa-pencil-square-o
        %i.fa.fa-cog

    .chatspace__side_bar__side_footer
      %p.chatspace__side_bar__side_footer__group sample1グループ
      %p.chatspace__side_bar__side_footer__message こんにちは
      %p.chatspace__side_bar__side_footer__group sample2グループ
      %p.chatspace__side_bar__side_footer__message こんばんは


  .chatspace__main_contents
    .chatspace__main_contents__header
      .chatspace__main_contents__header__header_group
        sample
      .chatspace__main_contents__header__header_member Member : ohashi

      .chatspace__main_contents__header__edit Edit

    .chatspace__main_contents__chat_area
      %p.chatspace__main_contents__chat_area__character
        sample1グループ
        %span.chatspace__main_contents__chat_area__character__date 2019/00/00
      %p.chatspace__main_contents__chat_area__message こんばんは
      %p.chatspace__main_contents__chat_area__character
        oohashi
        %span.chatspace__main_contents__chat_area__character__date 2019/00/00
        %p.chatspace__main_contents__chat_area__message こんばんは

    .chatspace__main_contents__footer
      .chatspace__main_contents__footer__chatbox
        %i.fa.fa-file-picture-o
        %p.chatspace__main_contents__footer__chatbox__type type a message
      .chatspace__main_contents__footer__sendbox
        %p.chatspace__main_contents__footer__sendbox__sendbutton Send


