.chatspace
  .chatspace__side
    .chatspace__side__top
      %p.chatspace__side__top__name 大橋
      .chatspace__side__top__awesomebox
        %i.fa.fa-pencil-square-o
        %i.fa.fa-cog
    .chatspace__side__bottom
      %p.chatspace__side__bottom__name sample1グループ
      %p.chatspace__side__bottom__name sample2グループ

  .chatspace__main
    .chatspace__main__top
      .chatspace__main__top__left
        .chatspace__main__top__left__character sampleグループ
        .chatspace__main__top__left__member Member

      .chatspace__main__top__right
        .chatspace__main__top__right__editbox
          .chatspace__main__top__right__editbox__edit Edit

    .chatspace__main__bottom
      %p.chatspace__main__bottom__top
        test-user
        %span.chatspace__main__bottom__top__dating 2019.4.1
      %p.chatspace__main__bottom__talk test

      .chatspace__main__bottom__message
        .chatspace__main__bottom__message__box
          %i.fa.fa-file-picture-o
          %p.chatspace__main__bottom__message__box__type type a message
        .chatspace__main__bottom__message__sendbox
          %p.chatspace__main__bottom__message__sendbutton Send
