$side_blue_dark:#253141;
$side_header_font:16px;
$side_blue_light:#2f3e51;
$side_group_name:15px;
$side_group_message:11px;
$white: white;
$bule: #0099e3;

.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  float: left;

  .header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;

    &__name {
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }

    &__lists {
      display: inline-block;
      float: right;

      .list {
        display: inline-block;
      }

      .icon {
        color: $white;
        font-size: $side_header_font;
      }
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;

    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;

      &__name {
        color: $white;
        font-size: $side_group_name;
      }

      &__message {
        color: $white;
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}

.main_contents {
  width: calc(100vw - 300px);
  float: left;
  height: 100vw;
  .main-header {
    height: 100px; //side_headerと同じ高さ
    border-bottom: 1px solid #eeeeee;
    padding: 0px 40px;

    .left-header {
      float: left;
      padding-top: 35px;

      span.name {
        font-size: 20px;
        color: #333333;
      }

      span.edit {
        float: right;
        right: 40px;
        border: 1px solid #0099e3;
        position: absolute;
        padding: 10px 20px;
        color: #38AEF0;
      }

      p.member {
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
      }
    }
  }

  .message_area {
    padding: 46px 0px 0px 40px;
    height: calc(100vh - 250px);
    position: relative;
    overflow: scroll;
    p.character {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;

      span.date {
        font-size: 12px;
        color: #999999;
      }
    }
    p.message {
      font-size: 14px;
      color: #434A54;
      padding: 10px 0px 40px 0px;
    }
  }

  .message_form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    float: left;
    position: absolute;
    width: calc(100vw - 300px);
    bottom: 0px;
    &__chat {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 140px);
      
    }

    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;

      &__image {
        font-size: 20px;
        line-height: 50px;
      }

      .hidden {
        display: none;
      }
    }

    &__submit {
      background-color: #38AEF0;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 20px;
    }
  }
}


// &__footer {
//   bottom: 0px;
//   position: fixed;
//   background-color: #DCDCDC;
//   width: calc(100vw - 300px);
//   height: 90px;

//   &__chatbox {
//     height: 50px;
//     width: 70vw;
//     border: none;
//     margin: 20px 15px 10px 40px;
//     line-height: 16px;
//     font-size: 16px;
//     float: left;
//     background-color: white;

//     .fa.fa-file-picture-o {
//       float: right;
//       margin: 15px 10px 0 10px;
//       font-size: 20px;
//     }

//     &__type {
//       padding-top: 15px;
//       padding-left: 10px;
//       color: #a5a5a5;
//       font-size: 16px;
//     }
//   }

//   &__sendbox {
//     height: 50px;
//     width: 85px;
//     margin: 20px 40px 0px 0px;
//     background-color: #38AEF0;
//     text-align: center;
//     float: right;

//     &__sendbutton {
//       padding: 10px 20px 10px 20px;
//       color: white;
//     }
//   }
// }